APP_UVICORN_HOST=0.0.0.0
APP_UVICORN_PORT=8080

APP_PG_HOST=db
APP_PG_PORT=5432
APP_PG_USERNAME=postgres
APP_PG_PASSWORD=postgres
APP_PG_DATABASE=notes

APP_SECRET_KEY=secret
APP_ALGORITHM=HS256
APP_ACCESS_TOKEN_EXPIRE_MINUTES=60

APP_URL_YA_SPELLER_JSON=https://speller.yandex.net/services/spellservice.json/checkText

POSTGRES_DB=notes
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres